body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
}
header h1 {
    margin: 0;
}

header h1 a {    
    color: #fff;
    margin-right: 15px;
    display: inline-block;
    padding: 8px 15px; 
    text-decoration: none; 
}

header h1 a:hover {
    background-color:   #0056b3; 
    color: #f9f9f9; 
}
nav {
    margin-top: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    padding: 8px 15px; 
    text-decoration: none; 
}
nav a:hover {
    background-color:   #0056b3; 
    color: #f9f9f9; 
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.button:hover {
    background-color: #0056b3;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
form button:hover {
    background-color: #0056b3;
}
input:hover, select:hover {
    border-color: #007bff;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card:hover {
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
    scale: 1.03;
}   
.card h3 {
    margin: 0 0 10px;
}